{% extends "base.html" %}
{% load static %}

{% load carts_tags %}



{% block content %}
    <section>
      <div class="container">
        <div class="cta-reg">
          <div class="cta-text-box">
            <h3>Данные о покупателе:<h3>
                <div class="iw-modal-wrapper-orders">
                  <div class="iw-CSS-modal-inner">
                        <div class="iw-modal-text">
                          <form class="cta-form-reg" action="{% url "orders:create_order" %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div>
                                <label for="id_first_name" >Имя*</label>
                                <input type="text" id="id_first_name"
                                name="first_name"
                                placeholder="Введите ваше имя"
                                value="{{ form.first_name.value }}"
                                required>
                                {% if form.first_name.errors %}
                                  <div>{{form.first_name.errors}}</div>
                                {% endif %}
                              </div>
                              <div>
                              <label for="id_last_name" >Фамилия*</label>
                              <input type="text" id="id_last_name"
                              name="last_name"
                              placeholder="Введите вашу фамилию"
                              value="{{ form.last_name.value }}"
                              required>
                              {% if form.last_name.errors %}
                              <div>{{form.last_name.errors}}</div>
                              {% endif %}
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="id_phone_number">Номер телефона*:</label>
                                <input type="text" id="id_phone_number" name="phone_number"
                                    value="{% if form.phone_number.value %}{{ form.phone_number.value }}
                                    {% endif %}"
                                    placeholder="В формате: XXX-XXX-XX-XX"
                                    required>
                                {% if form.phone_number.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
                                {% endif %}
                            </div>
                              <button class="btn btn--form">
                                Оплатить заказ</button>
                            </form>
                          </div>
                  </div>
                </div>	
            </div>  
            <div class="cta-text-box">   
              <h3>Данные о товарах:</h3>                    
                  {% user_carts request as carts %}         
                  {% include "carts/includes/included_cart.html" %} 
              
            </div>	
  </section>

  
</div>
        </div>
      </div>	




</div>  
</div>   


</div>	
</div>  
</div>

</section>

{% endblock %}



