
{% load static %}


<!---Разметка для модального окна---->	
    <div class="{% if orders%}iw-modal-wrapper-orders-cart{% else %}iw-modal-wrapper{% endif %}">
    <div class="iw-CSS-modal-inner">
      
    <div class="iw-modal-header">
    <h3 class="iw-modal-title">Корзина</h3>
    <a href="#close" title="Закрыть" class="iw-close">×</a>
    </div>
   
    <div class="iw-modal-text">    

       {% for cart in carts%}
       <table border="1px" width="100%">
        <thead>
          <tr>
            <th colspan="4">{{cart.product.name}}</th>
          </tr>  
        </thead>
        <tbody>
          <tr>
            <td>
                <div class="number">
                    <button class="number-minus" type="button" data-cart-id="{{cart.id}}" 
                    data-cart-change-url="{% url "cart:cart_change" %}">
                    {% csrf_token %}
                    -</button>
                    <input type="number" class="valuenumber" min="0" value="{{cart.quantity}}" readonly>
                    <button class="number-plus" type="button" data-cart-id="{{cart.id}}"
                    data-cart-change-url="{% url "cart:cart_change" %}">
                    {% csrf_token %}
                    +</button>
                  </div>
            </td>
            <td>X {{cart.product.sell_price}} &#x20bd; = </td>
            <td> {{cart.products_price}} &#x20bd;</td>
            <td> 
              <a href="{% url "cart:cart_remove"%}" class="remove-from-cart" data-cart-id="{{ cart.id }}">
                {% csrf_token %}
              <img src="{% static "deps/icons/cross.svg"%}" alt="Catalog Icon" width="24"height="24">
              </a>
            </td>
          </tr>
         
        </tbody>
      </table>

       {%endfor%}
        
          <table border="1px" width="100%">
            <thead>
              <tr>
                <th colspan="4">Итого {{carts.total_quantity}} товар(а) на сумму:</th>
              </tr>  
            </thead>
            <tbody>
              <tr>
                <td>{{carts.total_price}} &#x20bd;</td>
              </tr>
            </tbody>
          </table>
          {% if carts and not orders%}
          <div>
            <a href="{% url "orders:create_order" %}" class="btn btn--form">Оформить заказ</a>
          </div>
          {% endif %}
        
    </div>
    </div>
    </div>	
  
    <!---end.Разметка для модального окна---->	