{% extends "base.html" %}
{% load static %}

{% block madal_cart %}
{% include "includes/cart_button.html"%}
{% endblock %}

{% block content %}
<section>
    <div class="container">
      <h2 class="center-text">
       Магазин абонементов
      </h2>
    </div>
    <div class="container grid">
      {% for product in goods %}
      <!-- Card -->
      <div class="card">
        <a href="{% url "catalog:product" product.slug %}">
          {% if product.image %}
                <img src={{product.image.url}} id="card-img">
            {% else %}
                <img src="{% static "deps/img/1.jpg" %}" id="card-img">
            {% endif %}
        </a>
        <div class="card-content">
          <a href="{% url "catalog:product" product.slug %}">
            <p class="card-title">
                {% autoescape off %}
                    {% if product.headline %}
                    {{product.headline}}
                    {% else %}
                    <p class="card-title">{{product.name}}</p>
                    {% endif %}
                {% endautoescape %}
            </p>
        </a>    
          <ul class="card-attributes">
            <li id="card-attribute">
              <span><strong>{{product.category}}</strong></span>
            </li>
            <li id="card-attribute">
                {% if product.discount %}
                  <span>Скидка: {{ product.discount }} %</span>
                  <li id="card-attribute">
                    <p><s>{{product.price}}</s> ₽</p>
                    <p><strong>{{ product.sell_price }} ₽</strong></p>
                  </li>  
                {% else %}
                  <p><strong>{{ product.price }} ₽</strong></p>
                {% endif %}
            </li>
            <li id="card-attribute">
              <div>
                <a href="{% url "cart:cart_add" product.slug%}" class="btn btn--full">Купить</a>
              </div>
            </li>
          </ul>           
        </div>
      </div>
      {% endfor %}
  </section>

  <section>
  <!-- Пагинация -->
  <div class="container">
  <div class="center">
    <div class="pagination">
      <a class="page-link" href="{% if goods.has_previous %}?page={{goods.previous_page_number}}{% else %}#{% endif %}">Назад</a>
      {% for page in goods.paginator.page_range %}
      {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
      <a class="{% if goods.number == page %} active {% endif %}" 
      href="?page={{page}}">{{page}}</a>
      {% endif %}
      {% endfor %}
      <a class="page-link" href="{% if goods.has_next %}?page={{goods.next_page_number}}{% else %}#{% endif %}">Вперед</a>
    </div>
  </div>
</div>
</section>

{% endblock %}