{% extends "base.html" %}
{% load static %}

{% block madal_cart %}
{% include "includes/cart_button.html"%}
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <h2 class="center-text">
      {{product.name}}
    </h2>
  </div>
  <div class="container grid_product">
    <!-- Card -->
    <div class="card">
          {% if product.image %}
              <img src={{product.image.url}} id="card-img">
          {% else %}
              <img src="{% static "deps/img/1.jpg" %}" id="card-img">
          {% endif %}
    </div>
    <!-- Card -->
    <div>
      <div class="card-content">
      <h3>Описание:</h3>
      <span id="card-attribute" >{{ product.description }}</span>
      </div>
      <div class="card-content">
      <span id="card-attribute">Направление: {{product.category}}</span>
      </div>
      <div class="card-content">
      <span id="card-attribute">Стоимость:  
            {% if product.discount %}
            <span id="card-attribute" ><strong>{{ product.sell_price }} ₽</strong></span>
            {% else %}
          <span id="card-attribute" ><strong>{{ product.price }} ₽</strong></span>
            {% endif %}  
      </span>       
            <div id="card-attribute">
              
              <div>
                <a href="{% url "cart:cart_add" %}" class="btn btn--addtocart" 
                data-product-id="{{product.id}}">Купить</a>
                {% csrf_token %}
              </div>
              
            </div>        
    </div>
    
  </div>

</section>
{% endblock %}