{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="cta-reg">
              <div class="cta-text-box">
                <h2 class="heading-secondary">Авторизация</h2>
  
                <form class="cta-form-reg" action="#">
                  <div>
                    <label for="username">Имя пользователя</label>
                    <input id="username" type="text" placeholder="Введите ваше имя пользователя" required="">
                  </div>
  
                  <div>
                    <label for="password">Пароль</label>
                    <input id="password" type="email" placeholder="Введите ваш пароль" required="">
                  </div>
   
                  <button class="btn btn--form">Зарегистрироваться</button>

                  <div>
                    <a href="#">Забыли пароль?</a> | <a href="{% url "user:registration" %}">Создать аккаунт</a>
                </div>
                </form>
                
              </div>
              <div class="cta-img-box"></div>
            </div>
          </div>
    </section>
    {% endblock %}