{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="cta-reg">
              <div class="cta-text-box">
                <h2 class="heading-secondary">Профиль пользователя</h2>
  
                <form class="cta-form-reg" action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                      <div >
                          <label for="id_first_name" >Имя*</label>
                          <input type="text" id="id_first_name"
                              name="first_name"
                              placeholder="Введите ваше имя"
                              value="{{ form.first_name.value }}"
                              required>
                              {% if form.first_name.errors %}
                              <div>{{form.first_name.errors}}</div>
                              {% endif %}
                      </div>
                      <div >
                          <label for="id_last_name" >Фамилия*</label>
                          <input type="text" id="id_last_name"
                              name="last_name"
                              placeholder="Введите вашу фамилию"
                              value="{{ form.last_name.value }}"
                              required>
                              {% if form.last_name.errors %}
                              <div>{{form.last_name.errors}}</div>
                              {% endif %}
                      </div>
                      <div >
                          <label for="id_username" >Имя пользователя*</label>
                          <input type="text" id="id_username"
                              name="username"
                              placeholder="Введите ваше имя пользователя"
                              value="{{ form.username.value }}"
                              required>
                              {% if form.username.errors %}
                              <div>{{form.username.errors}}</div>
                              {% endif %}
                      </div>
                      <div >
                          <label for="id_email" >Email*</label>
                          <input type="email" id="id_email"
                              name="email"
                              placeholder="Введите ваш email *youremail@example.com"
                              value="{{ form.email.value }}"
                              required>
                              {% if form.email.errors %}
                              <div>{{form.email.errors}}</div>
                              {% endif %}
                      </div>
   
                  <button class="btn btn--form">Сохранить</button>
                </form>
              </div>
              <div class="cta-reg">
                <div class="cta-text-box">
                  <h2 class="heading-secondary">Корзина</h2>
                </div> 
                <div>
                <button class="btn btn--form">Оформить заказ</button>
                </div>
            </div>
          </div>
    </section>
    {% endblock %}