<!DOCTYPE html>

<html>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script charset="utf-8" src="./js/main.js"></script>

  <head>
    <meta charset="utf-8">
    <meta name="description" content="Студия Альфа-гравити в Санкт-Петербурге">
    <meta name="keywords" content="Альфа-гравити на Московской, легкий фитнес, фитнес на Московской">
    <meta name="author" content="Бутакова Людмила">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Студия Альфа-гравити в Санкт-Петербурге</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header class="header">
        <a href="./index.html">
          <img id="logo" alt="Атмосфера СПБ" src="./img/__.png"></a>
        <nav>
          <ul class="main-menu">
            <li><a href="./index.html">На главную</a></li>
            <li><a href="./about.html">О нас</a></li>
            <li><a href="./rules.html">Правила студии</a></li>
            <li><a class="profile-menu-trigger" data-trigger="dropdown" href="./services.html">Абонементы</a>
              <ul class="profile-submenu submenu">
                <li><a href="#">Групповые</a></li>
            <li><a href="#">Индивидуальные</a></li>
          </ul>
            </li>
            <li><a href="https://dikidi.ru/#widget=71167">On-line запись</a></li>
          </ul>
        </nav>
      </header>
    <main>
      <section>
        <div class="blok-img-txt">
          <div>
            <h3>
              Попробуйте первое<br>
              занятие Альфа-Гравити
            </h3>
            <h2>
              со скидкой 40%
            </h2>
            <h1>
            1400₽ 
            <span id="strike">2500₽</span>
            </h1>
            <p>
              Сделай еще один шаг к осознанной жизни. Подарите заботу о себе и 
              своем здоровье с нашим индивадуальным абонементом на занятия Альфа-Гравити.
            </p>
            <a href="./form.html" class="btn btn--full">Оставить заявку</a>
            <a href="./about.html" class="btn btn--outline">Узнать больше ↓</a>  
          </div>

          <div>
            <img src="./img/alfa.jpg" id="img">
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="contacts-map">
        <div>
          <h2>Контакты</h2>
          <p>
            Санкт-Петербург, <br>
            Московский проспект 183-185, <br>
            литера А-секция 3Б <br>
          </p>
          <p>
            <a href="tel:+7 952 398 82 12">+7 952 398 82 12</a><br>
            <a href="mailto:info@agravity.ru">info@agravity.ru</a>
          </p>
        </div>  
        <div>
          <iframe class="frame-map" src=https://yandex.ru/map-widget/v1/?um=constructor%3Abdc257838abf80ca330015dd081dbb4b83658bed591115425ffda6e2a8d1dd2e&amp;source=constructor"
          ></iframe>
        </div>
      </div>   

      <p class="copyright">
        Copyright © 2024. Атмосфера СПб,
        Все права защищены.
      </p>
    
  </footer>
  <script type="text/javascript" src="https://dikidi.ru/assets/js/widget_record/widget2.min.js"></script>
  <script charset="utf-8" src="./js/main.js"></script>
</body>

</html>
