{% extends "base.html" %}
{% load static %}

{% block madal_cart %}
{% include "includes/cart_button.html"%}
{% endblock %}

{% block content %}
<section>
  <div class="blok-img-txt">
    <div>
      <h3>
        Попробуйте первое<br>
        занятие Альфа-Гравити
      </h3>
      <h2>
        со скидкой 40%
      </h2>
      <h1>
      1400₽ 
      <span id="strike">2500₽</span>
      </h1>
      <p>
        Сделай еще один шаг к осознанной жизни. Подарите заботу о себе и 
        своем здоровье с нашим индивадуальным абонементом на занятия Альфа-Гравити.
      </p>
      <a href="{% url "main:form" %}" class="btn btn--full">Оставить заявку</a>
      <a href="{% url "main:about" %}" class="btn btn--outline">Узнать больше ↓</a>  
    </div>

    <div>
      <img src="{% static "deps/img/alfa.jpg" %}" id="img">
    </div>
  </div>
</section>
{% endblock %}