{% extends "main/base.html" %}
{% load static %}
{% block content %}
<section class="container">
    <article>
        <h2 class="center-text">Правила студии «Атмосфера СПб»</h2>
        <p>
            <ol class="list">
                <li class="list-item">Посещение занятий студии осуществляется по абонементу. Посещение занятий студии без абонемента производится только по предварительной записи у администратора.
                </li>
                
                <li class="list-item">Абонемент является личным и не может передаваться другому лицу.
                </li>
                
                <li class="list-item">Абонемент можно приобрести с любого числа месяца. Действует с момента активации(первого занятия).
                </li>
                <li class="list-item">Абонемент имеет две характеристики: количество занятий и длительность. По истечении любой из них абонемент становится недействительным.
                </li>
                <li class="list-item">В случае наличия неиспользованных занятий по истечении срока действия абонемента разница ни в полном, ни в частичном объеме не возвращается.
                    Пропущенные занятия можно отработать с любым инструктором в любой день по предварительной записи в соответствии со сроком действия абонемента.
                </li>
                <li class="list-item">Абонемент может быть заморожен на 2 недели по болезни или при отъезде. Длительность при этом увеличивается на срок заморозки. О заморозке абонемента 
                    необходимо предупредить инструктора или администратора не позже, чем за 24 часа до начала заморозки. Во время заморозки абонемента посещать занятия невозможно.
                </li>
                <li class="list-item">Перед занятием в студии необходимо самостоятельно и ответственно контролировать свое собственное здоровье и не ставить под угрозу здоровье окружающих его людей.
                </li>
                <li class="list-item">Групповые занятия проводятся по расписанию студии только по предварительной записи.
                </li>
                <li class="list-item">Студия оставляет за собой право заменять заявленного инструктора, а также вносить изменения в расписание.
                </li>
                <li class="list-item">Время работы студии устанавливается администрацией. Возможно изменение часов работы в зависимости от сезона. Информирование о данных изменениях производятся в 
                    социальных сетях студии.
                </li>
                <li class="list-item">Оплата, внесенная за занятия при заменах преподавателя и изменении расписания не возвращается.
                </li>
                <li class="list-item">Клиенты студии несут материальную ответственность за ущерб, причиненный имуществу и, в случае причинения ущерба обязаны возместить стоимость поврежденного 
                    и/или утраченного имущества.
                </li>
                <li class="list-item">Посетители студии могут получать бесплатно доступ в интернет через WiFi.
                </li>
            </ol>
        </p>
    </article>
</section>
{% endblock %}